#div_horarioL5{
	height:40px;
	width:140px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioM5{
	height:40px;
	width:140px;
	margin-left:140px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioMM5{
	height:40px;
	width:140px;
	margin-left:280px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioJ5{
	height:40px;
	width:140px;
	margin-left:420px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioV5{
	height:40px;
	width:140px;
	margin-left:560px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioL5:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioM5:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioMM5:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioJ5:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioV5:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#hora5{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}

#hora55{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}


#div_horarioL6{
	height:40px;
	width:140px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioM6{
	height:40px;
	width:140px;
	margin-left:140px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioMM6{
	height:40px;
	width:140px;
	margin-left:280px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioJ6{
	height:40px;
	width:140px;
	margin-left:420px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioV6{
	height:40px;
	width:140px;
	margin-left:560px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioL6:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioM6:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioMM6:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioJ6:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioV6:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#hora6{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}

#hora66{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}


#div_horarioL7{
	height:40px;
	width:140px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioM7{
	height:40px;
	width:140px;
	margin-left:140px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioMM7{
	height:40px;
	width:140px;
	margin-left:280px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioJ7{
	height:40px;
	width:140px;
	margin-left:420px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioV7{
	height:40px;
	width:140px;
	margin-left:560px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioL7:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioM7:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioMM7:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioJ7:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioV7:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#hora7{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}

#hora77{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}


#div_horarioL8{
	height:40px;
	width:140px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioM8{
	height:40px;
	width:140px;
	margin-left:140px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioMM8{
	height:40px;
	width:140px;
	margin-left:280px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioJ8{
	height:40px;
	width:140px;
	margin-left:420px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioV8{
	height:40px;
	width:140px;
	margin-left:560px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioL8:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioM8:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioMM8:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioJ8:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioV8:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#hora8{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}

#hora88{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}