body{
	background-image: url("fondoCompra1.jpg");
}

#nombres{
	height: 270px;
	width: 20px;
	margin-top: 190px;
	margin-left: 450px;
}

#asientos{
	height: 400px;
	width: 700px;
	margin-top: 40px;
	margin-left:422px;
	
}



#pantalla{
	margin-top:0px;
	margin-left: 50px;
	width: 600px;
	
}

#Asientos{
	font-size: 30px;
	font-family: Algerian,Arial;
	margin-left: 120px;
	margin-top: -390px;
	color: rgba(0, 0, 213, 0.6);
}

#mayores{
	font-size: 20px;
	margin-left: 90px;
	margin-top:-20px;
	color: rgba(0, 0, 213, 0.6);
	font-family: Algerian,Arial;
}

#adultos{
	font-size: 20px;
	margin-left: 150px;
	color: rgba(0, 0, 213, 0.6);
	font-family: Algerian,Arial;
}

#chicos{
	font-size: 20px;
	margin-left: 160px;
	color: rgba(0, 0, 213, 0.6);
	font-family: Algerian,Arial;
}

#menos{
	height: 60px;
	width: 60px;
	border-radius: 100%;
	background-color: white;
	margin-left: 80px;
	border-color: rgba(0, 0, 213, 0.8);
	-webkit-transition:background .5s;
}

#mas{
	height: 60px;
	width: 60px;
	border-radius: 100%;
	background-color: white;
	border-color: rgba(0, 0, 213, 0.8);
	-webkit-transition:background .5s;
}

#conteo{
	height: 60px;
	width: 60px;
	border-radius: 100%;
	border-color: rgba(0, 0, 213, 0.8);
	background-color: white;
}

#menos:hover{
	background-color: rgba(0, 114, 255, 0.7);
}
#mas:hover{
	background-color: rgba(0, 114, 255, 0.7);
}
#menos:hover #parrafoBoton1{
	color: white;
}
#mas:hover #parrafoBoton2{
	color: white;
}




.botones{
	background: white;
	border-radius: 20%;
	margin-top:10px;
	margin-left:10px;
	width:30px;
	height:30px;
}

.siguiente{
	margin-top: -37px;
	margin-left: 870px;
	border-radius: 10%;
}


#menos1{
	height: 60px;
	width: 60px;
	border-radius: 100%;
	background-color: white;
	margin-left: 80px;
	border-color: rgba(0, 0, 213, 0.8);
	-webkit-transition:background .5s;
}

#mas1{
	height: 60px;
	width: 60px;
	border-radius: 100%;
	background-color: white;
	border-color: rgba(0, 0, 213, 0.8);
	-webkit-transition:background .5s;
}

#conteo1{
	height: 60px;
	width: 60px;
	border-radius: 100%;
	border-color: rgba(0, 0, 213, 0.8);
	background-color: white;
}

#menos1:hover{
	background-color: rgba(0, 114, 255, 0.7);
}
#mas1:hover{
	background-color: rgba(0, 114, 255, 0.7);
}
#menos1:hover #parrafoBoton3{
	color: white;
}
#mas1:hover #parrafoBoton4{
	color: white;
}


#menos2{
	height: 60px;
	width: 60px;
	border-radius: 100%;
	background-color: white;
	margin-left: 80px;
	border-color: rgba(0, 0, 213, 0.8);
	-webkit-transition:background .5s;
}

#mas2{
	height: 60px;
	width: 60px;
	border-radius: 100%;
	background-color: white;
	border-color: rgba(0, 0, 213, 0.8);
	-webkit-transition:background .5s;
}

#conteo2{
	height: 60px;
	width: 60px;
	border-radius: 100%;
	border-color: rgba(0, 0, 213, 0.8);
	background-color: white;
}

#menos2:hover{
	background-color: rgba(0, 114, 255, 0.7);
}
#mas2:hover{
	background-color: rgba(0, 114, 255, 0.7);
}
#menos2:hover #parrafoBoton5{
	color: white;
}
#mas2:hover #parrafoBoton6{
	color: white;
}


#div_titulohorario{
	color:blue;
	margin-top:-30px;
	height:150px;
}

#tituloPeli{
	font-size: 40px;
	margin-left:600px;
	color: white;
	font-family: Algerian,Arial;
}

#horarioPeli{
	width: 200px;
	height: 37px;
	font-size: 40px;
	margin-left:650px;
	color: white;
	font-family: Algerian,Arial;
}

#precio{
	margin-left:430px;
	margin-top:-120px;
	font-size:30px;
	color: rgba(0, 0, 213, 0.6);
	font-family:Algerian;
}

.precio{
	margin-top:-45px;
	font-family: Quartz MS;
	color: rgba(0, 0, 213, 0.6);
	font-size:20px;
}

#total{
	margin-left:570px;
	margin-top:-70px;
	font-size:30px;
	color: rgba(0, 0, 213, 0.6);
	font-family:Quartz MS;
}

#reiniciar{
	margin-left:740px;
	width: 120px;
	height: 37px;
	border-radius:10%;
	background-color: rgba(0, 46, 146, 0.9);
}

#p_reiniciar{
	color:white;
	margin-top:10px;
}

#seleccionAsientos{
	margin-top:-440px;
	width:350px;
	height:500px;
}
