#head{
	height:140px;
	width:1340px;
	margin-left:-10px;;
	margin-top:-10px;
	-webkit-box-shadow: 8px 6px 3px 0px rgba(56,27,56,0.91);
	background-color: rgba(215, 207, 44, 0.9);
}

#peliculaT{
	
	color:white;
}

#cuerpo{
	height:440px;
	width:1300px;
	margin-left:20px;
	margin-top:10px;
	-webkit-box-shadow: -2px 4px 23px 7px rgba(56,27,56,0.91); 	
	background-color: rgba(255, 216, 44, 0.9);
	overflow:auto;
	display: inline-block;
}

#pelicula{
	font-size:50px;
	margin-top:0px;
	color:white;
	font-family:Andy;
}



#nombre{
	font-size:40px;
	margin-top:0px;
	color:white;
	font-family:Andy;
	margin-left:100px;
	display: inline-block;	
}



#pagar{
	width:100px;
	height:40px;	
	background-color: rgba(155, 122, 44, 0.9);
}

#pagar:hover{
	cursor:pointer;
}

#cancelar{
	width:100px;
	height:40px;
	background-color: rgba(155, 122, 44, 0.9);
}

#cancelar:hover{
	cursor:pointer;
}

#parrafoPagar{
	font-size:25px;
	color:white;
	font-family:Andy;
	margin-top:0px;
	
}

#parrafoCancelar{
	font-size:25px;
	color:white;
	font-family:Andy;
	margin-top:0px;
}
