body{
	background-image: url("titanes.jpg");
}

#div_uno1{
	margin: 70px auto;
	background-color: rgba(139,44,44,.5);
	width: 1200px;
	height: 1700px;
	border-radius: 1%;
}



#detallesPeli{
	background-color: rgba(246,248,111,.5);
}	

#parrafodetalle{
	color: white;
}

#horarios{
	background-color: rgba(91, 139, 223,.5);
}