body{
	background-image: url("nemo.jpg");
}

#div_uno5{
	margin: 70px auto;
	background-color: rgba(249, 126, 0, 0.6);
	width: 1200px;
	height: 1700px;
	border-radius: 1%;
}



#detallesPeli5{
	background-color: rgba(246,248,111,.7);
}	


#horarios5{
	background-color: rgba(10, 121, 255, 0.6);
}

#parrafoHorario5{
	color: black;
}