body{
	background-image: url("gigantes.jpg");
}

#div_uno8{
	margin: 70px auto;
	background-color: rgba(88, 119, 183, 0.6);
	width: 1200px;
	height: 1700px;
	border-radius: 1%;
}



#detallesPeli8{
	background-color: rgba(126, 39, 0, 0.6);
}	


#horarios8{
	background-color: rgba(91, 139, 223,.7);
}

#parrafoHorario8{
	color: black;
}