body{
	background-image: url("avengers.jpg");
	
}

#div_uno10{
	margin: 70px auto;
	background-color: rgba(0, 178, 255, 0.6);
	width: 1200px;
	height: 1700px;
	border-radius: 1%;
}



#detallesPeli10{
	background-color: rgba(0, 134, 255, 0.6);
}	


#horarios10{
	background-color: rgba(255, 0, 0, 0.7);
}

#parrafoHorario10{
	color: black;
}