

#div_uno2{
	margin: 70px auto;
	background-color: rgba(211, 119, 0, 0.5 );
	width: 1200px;
	height: 1700px;
	border-radius: 1%;
}



#detallesPeli2{
	background-color: rgba(246,248,111,.5);
}	


#horarios2{
	background-color: rgba(91, 139, 223,.5);
}

#parrafoDetalles2{
	color: rgba(96, 61, 0, 0.9);
}