body{
	background-image: url("ilusionistas.jpg");
}

#div_uno7{
	margin: 70px auto;
	background-color: rgba(200,200,200,.7);
	width: 1200px;
	height: 1700px;
	border-radius: 1%;
}



#detallesPeli7{
	background-color: rgba(246,248,111,.5);
}	


#horarios7{
	background-color: rgba(31,31,31,.5);
}

#parrafoHorario7{
	color: black;
}