body{
	background-image: url("transformers.jpg");
}

#div_uno9{
	margin: 70px auto;
	background-color: rgba(31,31,31,.7);
	width: 1200px;
	height: 1700px;
	border-radius: 1%;
}



#detallesPeli9{
	background-color: rgba(91, 139, 223,.5);
}	



#horarios9{
	background-color: rgba(255, 0, 0, 0.7);
}

#parrafoHorario9{
	color: black;
}