
#div_uno3{
	margin: 70px auto;
	background-color: rgba(0, 112, 255, .6);
	width: 1200px;
	height: 1700px;
	border-radius: 1%;
}



#detallesPeli3{
	background-color: rgba(246,248,111,.5);
}	


#horarios3{
	background-color: rgba(231, 35, 0, 0.6);
}