

#div_uno4{
	margin: 70px auto;
	background-color: rgba(255, 174, 79, 0.6);
	width: 1200px;
	height: 1700px;
	border-radius: 1%;
}



#detallesPeli4{
	background-color: rgba(246,248,111,.7);
}	

#sinopsis{
	color: black;
}

#horarios4{
	background-color: rgba(91, 139, 223,.5);
}

#Descripcion4{
	color: black;
}

#parrafodetalle4{
	color: black;
}

#parrafoHorario4{
	color: black;
}