.peli6{
	background-image: url("imagenes/titanes.jpg");
    background-size: 100% 100%;
	height: 400px;
	width: 400px;
	margin: 70px 400px 70px 400px;
}

.infoPeli6{
	overflow: hidden;
	height: 400px;
	width: 400px;
	background-color: rgba(31,31,31,.9);
	margin: 0px 0px 0px 0px;
	opacity: 0;
	-webkit-transition:opacity .3s;
}

.peli6:hover .infoPeli6{
	opacity: 1;
}

.titulosDentropeli6{
	color: white;
	font-size: 30px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}

.fechaDentropeli6{
	color: white;
	font-size: 30px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}
.comprar6{
	color: white;
	font-size: 40px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}

.peli6:hover .titulosDentropeli6{
	margin-left: 120px;
}

.peli6:hover .fechaDentropeli6{
	margin-left: 10px;
}

.peli6:hover .comprar6{
	margin-left: 120px;
}

/*Peli 7*/
.peli7{
	background-image: url("imagenes/ilusionistas.jpg");
    background-size: 100% 100%;
	height: 400px;
	width: 400px;
	margin: 70px 400px 70px 400px;
}

.infoPeli7{
	overflow: hidden;
	height: 400px;
	width: 400px;
	background-color: rgba(31,31,31,.9);
	margin: 0px 0px 0px 0px;
	opacity: 0;
	-webkit-transition:opacity .3s;
}

.peli7:hover .infoPeli7{
	opacity: 1;
}

.titulosDentropeli7{
	color: white;
	font-size: 30px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}

.fechaDentropeli7{
	color: white;
	font-size: 30px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}
.comprar7{
	color: white;
	font-size: 40px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}

.peli7:hover .titulosDentropeli7{
	margin-left: 120px;
}

.peli7:hover .fechaDentropeli7{
	margin-left: 10px;
}

.peli7:hover .comprar7{
	margin-left: 120px;
}

/*Peli 8*/
.peli8{
	background-image: url("imagenes/gigantes.jpg");
    background-size: 100% 100%;
	height: 400px;
	width: 400px;
	margin: 70px 400px 70px 400px;
}

.infoPeli8{
	overflow: hidden;
	height: 400px;
	width: 400px;
	background-color: rgba(31,31,31,.9);
	margin: 0px 0px 0px 0px;
	opacity: 0;
	-webkit-transition:opacity .3s;
}

.peli8:hover .infoPeli8{
	opacity: 1;
}

.titulosDentropeli8{
	color: white;
	font-size: 30px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}

.fechaDentropeli8{
	color: white;
	font-size: 30px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}
.comprar8{
	color: white;
	font-size: 40px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}

.peli8:hover .titulosDentropeli8{
	margin-left: 120px;
}

.peli8:hover .fechaDentropeli8{
	margin-left: 10px;
}

.peli8:hover .comprar8{
	margin-left: 120px;
}

/*Peli 9*/
.peli9{
	background-image: url("imagenes/trans.jpg");
    background-size: 100% 100%;
	height: 400px;
	width: 400px;
	margin: 70px 400px 70px 400px;
}

.infoPeli9{
	overflow: hidden;
	height: 400px;
	width: 400px;
	background-color: rgba(31,31,31,.9);
	margin: 0px 0px 0px 0px;
	opacity: 0;
	-webkit-transition:opacity .3s;
}

.peli9:hover .infoPeli9{
	opacity: 1;
}

.titulosDentropeli9{
	color: white;
	font-size: 30px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}

.fechaDentropeli9{
	color: white;
	font-size: 30px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}
.comprar9{
	color: white;
	font-size: 40px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}

.peli9:hover .titulosDentropeli9{
	margin-left: 120px;
}

.peli9:hover .fechaDentropeli9{
	margin-left: 10px;
}

.peli9:hover .comprar9{
	margin-left: 120px;
}

/*Ultima peli*/
.peli10{
	background-image: url("imagenes/avengers.jpg");
    background-size: 100% 100%;
	height: 400px;
	width: 400px;
	margin: 70px 400px 70px 400px;
}

.infoPeli10{
	overflow: hidden;
	height: 400px;
	width: 400px;
	background-color: rgba(31,31,31,.9);
	margin: 0px 0px 0px 0px;
	opacity: 0;
	-webkit-transition:opacity .3s;
}

.peli10:hover .infoPeli10{
	opacity: 1;
}

.titulosDentropeli10{
	color: white;
	font-size: 30px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}

.fechaDentropeli10{
	color: white;
	font-size: 30px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}
.comprar10{
	color: white;
	font-size: 40px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}

.peli10:hover .titulosDentropeli10{
	margin-left: 120px;
}

.peli10:hover .fechaDentropeli10{
	margin-left: 10px;
}

.peli10:hover .comprar10{
	margin-left: 120px;
}