.peli1{
    background-size: 100% 100%;
	height: 400px;
	width: 400px;
	margin: 70px 400px 70px 400px;
}





.infoPeli1{
	overflow: hidden;
	height: 400px;
	width: 400px;
	background-color: rgba(31,31,31,.9);
	margin: 0px 0px 0px 0px;
	opacity: 0;
	-webkit-transition:opacity .3s;
}



.peli1:hover .infoPeli1{
	opacity: 1;
}


.titulosDentropeli1{
	color: white;
	font-size: 30px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}

.fechaDentropeli1{
	color: white;
	font-size: 30px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}
.comprar1{
	color: white;
	font-size: 40px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}

.peli1:hover .titulosDentropeli1{
	margin-left: 120px;
}

.peli1:hover .fechaDentropeli1{
	margin-left: 10px;
}

.peli1:hover .comprar1{
	margin-left: 120px;
}

/*Segunda pelicula*/

.peli2{
	background-image: url("imagenes/voces.jpg");
    background-size: 100% 100%;
	height: 400px;
	width: 400px;
	margin: 70px 400px 70px 400px;
}

.infoPeli2{
	overflow: hidden;
	height: 400px;
	width: 400px;
	background-color: rgba(31,31,31,.9);
	margin: 0px 0px 0px 0px;
	opacity: 0;
	-webkit-transition:opacity .3s;
}

.peli2:hover .infoPeli2{
	opacity: 1;
}


.titulosDentropeli2{
	color: white;
	font-size: 30px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}

.fechaDentropeli2{
	color: white;
	font-size: 30px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}
.comprar2{
	color: white;
	font-size: 40px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}

.peli2:hover .titulosDentropeli2{
	margin-left: 120px;
}

.peli2:hover .fechaDentropeli2{
	margin-left: 10px;
}

.peli2:hover .comprar2{
	margin-left: 120px;
}

/*Cuarta pelicula*/
.peli4{
	background-image: url("imagenes/titanic.jpg");
    background-size: 100% 100%;
	height: 400px;
	width: 400px;
	margin: 70px 400px 70px 400px;
}

.infoPeli4{
	overflow: hidden;
	height: 400px;
	width: 400px;
	background-color: rgba(31,31,31,.9);
	margin: 0px 0px 0px 0px;
	opacity: 0;
	-webkit-transition:opacity .3s;
}

.peli4:hover .infoPeli4{
	opacity: 1;
}

.titulosDentropeli4{
	color: white;
	font-size: 30px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}

.fechaDentropeli4{
	color: white;
	font-size: 30px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}
.comprar4{
	color: white;
	font-size: 40px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}

.peli4:hover .titulosDentropeli4{
	margin-left: 120px;
}

.peli4:hover .fechaDentropeli4{
	margin-left: 10px;
}

.peli4:hover .comprar4{
	margin-left: 120px;
}


/* pelicula 5*/
.peli5{
	background-image: url("imagenes/nemo.jpg");
    background-size: 100% 100%;
	height: 400px;
	width: 400px;
	margin: 70px 400px 70px 400px;
}

.infoPeli5{
	overflow: hidden;
	height: 400px;
	width: 400px;
	background-color: rgba(31,31,31,.9);
	margin: 0px 0px 0px 0px;
	opacity: 0;
	-webkit-transition:opacity .3s;
}

.peli5:hover .infoPeli5{
	opacity: 1;
}

.titulosDentropeli5{
	color: white;
	font-size: 30px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}

.fechaDentropeli5{
	color: white;
	font-size: 30px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}
.comprar5{
	color: white;
	font-size: 40px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}

.peli5:hover .titulosDentropeli5{
	margin-left: 120px;
}

.peli5:hover .fechaDentropeli5{
	margin-left: 10px;
}

.peli5:hover .comprar5{
	margin-left: 120px;
}