body{
	background-image: url("ima1.jpg");
}


#div_uno{
	margin: 70px auto;
	background-color: rgba(31,31,31,.5);
	width: 1200px;
	height: 4400px;
	border-radius: 1%;
}

p{
	color: white;
}

#titulo{
	font-size: 50px;
	margin: 0px auto;

}

.imagen{
	width: 300px;
	height: 300px;
	margin: 0px 0px 0px 0px;
	float: left;
}

.links{
	text-decoration: none;
	color: black;
}


#cartelera{
	text-align: center;
	font-size: 70px;
	font-family: Arial;
	margin: 30px 30px 30px 30px;
}

.titulos{
	font-size: 40px;
	font-family: Arial;
	margin: 10px 10px 10px 10px;
}

#prueba_div{
	width: 300px;
	height: 300px;
	margin: 30px 30px 30px 30px;
	overflow: hidden;
}

#prueba_div:hover{
	width: 1100px;
	-webkit-transition:width .9s;
}

p.Descripcion{
	font-size: 1.5em;
	text-align: right;
	padding-top: 10px;
	margin: 0px 120px 0px 0px;
}

#prueba_div:hover p.Descripcion{
	position: none;
	margin:	0px 400px 0px 0px; 
}

p.Descripcion_definida{
	
	font-size: 1.5em;
	text-align: center;
	padding-top: 10px;
	margin: 10px 10px 30px 20px;
}

