#div_uno{
	margin: 70px auto 70px 70px;
	background-color: rgba(200,200,200,.90);
	width: 1200px;
	height: 1300px;
	border-radius: 3%;
}

.titulosDentropeli{
	color: white;
	font-size: 50px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}
.comprar{
	color: white;
	font-size: 40px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}
.fechaDentropeli{
	color: white;
	font-size: 30px;
	margin-left: -200px;
	-webkit-transition:margin .3s;
}

.links{
	text-decoration: none;
	color: white;
}

.peli{
	background-image: url("imagenes/cantinflas.jpg");
    background-size: 100% 100%;
	height: 400px;
	width: 400px;
	margin: 70px 400px 70px 400px;
}

.infoPeli{
	overflow: hidden;
	height: 400px;
	width: 400px;
	background-color: rgba(31,31,31,.9);
	margin: 0px 0px 0px 0px;
	opacity: 0;
	-webkit-transition:opacity .3s;
}



.peli:hover .comprar{
	margin-left: 120px;
}
.peli:hover .titulosDentropeli{
	margin-left: 120px;
}
.peli:hover .fechaDentropeli{
	margin-left: 10px;
}

.peli:hover .infoPeli{
	opacity: 1;
}


.Sinopsis{
	text-align: center;
	font-size: 30px;
	font-family:Arial;
}

.Descripcion{
	font-size: 30px;
	font-family:Arial;
	color:white;
}

.youtube{
	float: right;
}



.info{
	
	position: absolute;
	background-color: rgba(31,31,31,.6);
	width: 20px;
	height: 120px;
	opacity: 0;
	-webkit-transition:width .4s;
	-webkit-transition:opacity .3s;
}

.imagen{	
	margin-left: -40px;
	width: 40px;
	height:40px;
	-webkit-transition:margin .4s;
}

.texto{
	font-size:30px;
	margin: 90px 0px 0px 30px;
	-webkit-transition:margin .4s;
}





.parrafodetalle{
	font-size: 30px;
}
.parrafoHorario{
	color: white;
	text-align: center;
	font-size: 30px;
}
.textosHorarios{
	color: white;
	text-align: left;
	font-size: 30px;	
}

#stop{
	height: 70px;
	width:50px;
	float: right;
	position: fixed;
	margin-top: 200px;
}


.horarios{
	color: white;
	font-size: 30px;
	font-family: Quartz MS;
}

.horariosM1{
	color: white;
	margin-left: 400px;	
	margin-top: -130px;
	font-size: 30px;
	font-family: Quartz MS;
}

.horariosM2{
	color: white;
	margin-left: 400px;	
	font-size: 30px;
	font-family: Quartz MS;
}

.horariosMi1{
	color: white;
	margin-left: 800px;	
	margin-top: -130px;
	font-size: 30px;
	font-family: Quartz MS;
}

.horariosMi2{
	color: white;
	margin-left: 800px;	
	font-size: 30px;
	font-family: Quartz MS;
}


#pLunes{
	color: white;
	font-size: 30px;
	text-align: center;

}

.p_Titulos1{
	color: white;
	font-size: 30px;
	
}

.p_Titulos2{
	color: white;
	font-size: 30px;
	margin-left: 400px;
	margin-top: -60px;
}

.p_Titulos3{
	color:white;
	font-size: 30px;
	margin-left: 800px;
	margin-top: -60px;
}

#lunes{
	background-color: rgba(255, 149, 0, 0.7);
	height: 50px;
	width: 140px;
	border-radius: 20%;
	margin-top: 500px;
	margin-left: 500px;
	-webkit-transition:width 2s;
	-webkit-transition:margin 2s;
}






.horario1{
	background-color: rgba(31,31,31,.6);
	height: 200px;
	width: 1000px;
	margin-top: 200px;
	opacity: 0;
	-webkit-transition:opacity 3s;
	-webkit-transition:margin 3s;
}


#lunes:hover {
	margin-left: 200px;
	width: 700px;
	border-radius: 0%;
}

#lunes:hover .horario1{
	margin-top: -15px;
	opacity: 1;
};

