#div_central{
	background-color: rgba(60, 53, 57, 0.6);
	width: 1367px;
	height: 300px;
	margin-top: 100px;
	margin-left: -10px;
}

#div_cartelera{
	margin-left: 1000px;
	height: 40px;
	width: 500px;
}

#img_carte{
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	height: 30px;
	width: 30px;
}

#ver{
	font-size: 30px;
	opacity: 0;
	font-family: Algerian;
	-webkit-transition:opacity .8s;
}

#div_cartelera:hover #ver{
	opacity: 1;
	cursor: hand; 
}



#div_izquierda{
	float: left;
	height: 300px;
	width: 200px;
	-webkit-transition:background-color .8s;
}

#div_derecha{
	float: right;
	height: 300px;
	width: 200px;
	-webkit-transition:background-color .8s;
}

#flechaizquierda{
	margin-top: 140px;
	margin-left: 70px;
}

#flechaderecha{
	margin-top: 140px;
	margin-left: 90px;
}

#div_izquierda:hover{
	background-color: rgba(0, 0, 0, 0.2);
}

#div_derecha:hover{
	background-color: rgba(0, 0, 0, 0.2); 
}


#centro{
	overflow: hidden;
	height: 300px;
	width: 967px;
	margin-left: 200px;
	
}

#pel1{
	height: 300px;
	width: 320px;
	background-image: url("peliculas/imagenes/titanes.jpg");
	background-size: 100% 100%;
	-webkit-transition:margin .8s;
}
#pel2{
	height: 300px;
	width: 320px;
	margin-top: -300px;
	margin-left: 320px;
	background-image: url("peliculas/imagenes/gigantes.jpg");
	background-size: 100% 100%;
	-webkit-transition:margin .8s;
}
#pel3{
	height: 300px;
	width: 330px;
	margin-left: 640px;
	margin-top: -300px;
	background-image: url("peliculas/imagenes/trans.jpg");
	background-size: 100% 100%;
	-webkit-transition:margin .8s;
}
#pel4{
	height: 300px;
	width: 320px;
	margin-top: -300px;
	background-image: url("peliculas/imagenes/exodus.jpg");
	background-size: 100% 100%;
	-webkit-transition:margin .8s;
}
#pel5{
	height: 300px;
	width: 330px;
	margin-top: -300px;
	margin-left: 320px;
	background-image: url("peliculas/imagenes/cantinflas.jpg");
	background-size: 100% 100%;
	-webkit-transition:margin .8s;
}
#pel6{
	height: 300px;
	width: 330px;
	margin-left: 640px;
	margin-top: -300px;
	background-image: url("peliculas/imagenes/avengers.jpg");
	background-size: 100% 100%;
	-webkit-transition:margin .8s;
}